/*Kleuren thomas more
		oranje: #f24f11
		blauw: #007d8a;
		bg imd logo: #f7f7f7;
*/

/*Clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/*End clearfix*/

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', serif;
	background-color: #f7f7f7;
	color: #000;
}

h1 {
	text-align: left;
	font-size: 5rem;
	font-family: 'Lato', sans-serif;
	color: #f7f7f7;
	margin-bottom: 20px;
}

nav {
	text-align: center;
}

.wrapper {
	padding: 0 15px 15px;
}

header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f24f11;
}

form {
	margin-top: 25px;
	max-width: 100%;
	color:#f7f7f7;
	font-weight: bold;
}

label {
	float: left;
	width: 100px;
	margin-top: 10px;
}

input {
	float: left;
	width: 150px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

input[type="submit"] {
	margin-left: 100px;
	width: 170px;
	font-weight: bold;
	color:#f7f7f7;
	background-color: #007d8a;
	border: 1px solid #f7f7f7;
}

input[type="submit"]:hover{
	cursor: pointer;
	background-color: #f7f7f7;
	color: #007d8a;
}

#login {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #007d8a;
}

.gray {
	color: #f7f7f7;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

#loggedin {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #007d8a;
}

table {
	width: 100%;
}

tr:nth-child(odd){
	background-color: #004f57;
}

tr:nth-child(even){
	background-color: #003035;
}

td a {
	text-decoration: none;
	color: #f7f7f7;
	font-size: 1.8rem;
	font-weight: bold;
	display: block;
	height: 75px;
	line-height: 75px;
}

tr:nth-child(odd):hover{
	background-color: #005e68;
}

tr:nth-child(even):hover{
	background-color: #002124;
}


@media (min-width:960px ) {

	.wrapper {
		width: 960px;
		margin: 0 auto;
	}
}

