/*Clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/*End clearfix*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	background-color: #007d8a;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', serif;
	background-color: #f7f7f7;
	color: #000;
	line-height: 24px;
}

header p{
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 3rem;
	font-family: 'Lato', sans-serif;
	color: #f7f7f7;
}

h2 {
	font-size: 2.5rem;
	font-family: 'Lato', sans-serif;
	color: #f7f7f7;
	margin-top: 10px;
	margin-bottom: 15px;
}

/*NAVIGATON-----------------------------*/
nav {
	background-color: #000;
	padding: 10px;
	font-size: 13px;
}

nav li a {
	text-decoration: none;
	color: #f7f7f7;
	padding: 13px;
}

nav li a:hover{
	background-color: #f24f11;
	color: white;
}

nav .welkom {
	color: #fff;
	float: left;
}

nav .logout {
	float: right;
}
/* END NAVIGATON-----------------------------*/

.wrapper, .tabbladen{
	padding: 0 15px;
}

header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f24f11;
}

form {
	margin-top: 25px;
	max-width: 100%;
	color:#f7f7f7;
	font-weight: bold;
}

.cf label {
	display: block;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#login input[type="submit"]:hover{
	cursor: pointer;
	background-color: #f7f7f7;
	color: #007d8a;
}

#login,
#index {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #007d8a;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

#feedback, #feedbackLogin, #feedbackDatum, #feedbackMelding{
	margin-top: 10px;
}

.nok {
	padding: 15px;
	color: #007d8a;
	border-radius: 5px;
    background-color: #f7f7f7;
	text-align: center;
	width: 100%;
	font-weight: 500;
}

/*INDEX.PHP------------------------------*/
.redirect a {
	display: block;
	text-align: center;
	width: 250px;
	margin: 15px auto;
	background-color: #007d8a;
	padding: 20px;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	font-size: 1.6rem;
}

.redirect a:hover {
	background-color: #fff;
	color: #007d8a;
}
/*END INDEX.PHP------------------------------*/


/*STUDENT--------------------------------------*/
#loggedin {
	padding-bottom: 50px;
	background-color: #007d8a;
}

.studentLogin input[type="text"], input[type="password"]{
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	padding: 15px;
	border: none;
	border-radius: 5px;
}

.studentLogin input[type="submit"] {
	background-color: #007d8a;
	width: 100%;
	margin-top: 20px;
	padding: 15px;
	border: 1px solid #f7f7f7;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.4rem;
	color:#f7f7f7;
}

#dagnav
{
	margin-bottom: 40px;
}

#dagnav #next,
#dagnav #dag,
#dagnav #prev
{
	display: inline-block;
	vertical-align: middle;
}

#next
{
	background-image: url(../images/next.png);
	background-repeat: no-repeat;
	background-size: 20px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

#dag
{
	font-size: 2.2rem;
	text-transform: uppercase;
	margin: 0px 20px 0px 20px;
	color: white;

}

#prev
{
	background-image: url(../images/prev.png);
	background-repeat: no-repeat;
	background-size: 20px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.lessenrooster{
	width: 100%;
}

.lessenrooster tbody tr:nth-of-type(odd){
	background-color: rgba(250,250,250,0.2);
}

.lessenrooster thead{
	text-align: left;
	background-color: #f24f11;
	color: white;
	border-radius: 5px;
}

.lessenrooster th{
	padding: 5px;
	font-weight: 100;
}

.lessenrooster td{
	padding: 10px;
	word-wrap: break-word;
}

.lessenrooster td.pauze{
	font-weight: 500;
	text-align: center;
}

.td-beginuur, .td-einduur, .td-lokaal{
	width: 10%;
}

.td-docent{
	width: 20%;
}

.td-lesnaam{
	width: 50%;
}

.clear{
	padding-top: 50px;
}

.tabbladen{
	padding-top: -100px;
	display: block;
	text-align: center;
}

.tabbladen ul{
	display: inline-block;
	text-align: center;
	float: right;
}

.tabbladen a{
	text-decoration: none;
	color: white;
	padding: 10px 10px 0 10px;
}

.tabbladen li{
	display: inline-block;
	width: 100px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tabbladen ul li.active-tab-rooster, .tabbladen li:hover{
	background-color: #f24f11;
}

.tabbladen li:first-child{
	float: left;
}

.tabbladen li:last-child{
	float: right;
}

#meldingen-head li, .meldingen-melding li{
	display: inline-block;
}

#meldingen-head{
	background-color: #f24f11;
	color: white;
	padding: 5px;
}
.melding-row{

	padding: 10px;
}

#meldingen-lijst li.melding-row:nth-of-type(even){
	background-color: rgba(250,250,250,0.2);
}

h3#student-meldingen
{
	font-size: 2.2rem;
	text-transform: uppercase;
	color: white;
	padding-bottom: 40px;
}
/* END STUDENT-------------------------------*/



/*PERSONEEL----------------------------------*/
.personeelLogin input[type="text"], input[type="password"]{
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	padding: 15px;
	border: none;
	border-radius: 5px;
}

.personeelLogin input[type="submit"] {
	background-color: #007d8a;
	width: 100%;
	margin-top: 20px;
	padding: 15px;
	border: 1px solid #f7f7f7;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.4rem;
	color:#f7f7f7;
}
/*END PERSONEEL--------------------------------*/


/* ADMINSIDE.PHP---------------------------------------------------*/
#meldingen, #check{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #007d8a;
}
/*--------------- // DATUM // ---------------*/
#loggedinAdmin{
	background-color: #007d8a;
}

.datum {
	padding-top: 15px;
}

form.datumSelect {
	text-align: center;
}

.datumSelect .datepicker {
	background-color: #f7f7f7;
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 5px;
	border: none;
}

.nokDatum {
	padding: 10px;
	color: #007d8a;
	border-radius: 5px;
    background-color: #f7f7f7;
	text-align: center;
	width: 100%;
	font-weight: 500;
}
/*--------------- // END DATUM // ---------------*/


/*---------------- // MELDING // ----------------*/
.opmerkingScherm {
	background-color: #f7f7f7;
	color: #000;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.opmerkingScherm form {
	margin: 0;
	padding: 0;
	color: #000;
}

.opmerkingScherm label h3{
	font-size: 2rem;
	color: #000;
	margin-bottom: 15px;
}

#selectDocent {
	margin: 0;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 1.6rem;
	font-weight: bold;
	width: 100%;
}

.smaller{
	font-size: 1.4rem;
	font-weight: normal;
	color: #929292;
}

.opmerkingScherm input[type="radio"]{
	width: 20px;
	margin-right: 10px;
	margin-left: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.opmerkingScherm input {
	border-radius: 5px;
	border: 1px solid #929292;
	padding: 5px;
}

.opmerkingScherm textarea {
	display: block;
	height: 75px;
	width: 97%;
	border-radius: 5px;
	border: 1px solid #929292;
	padding: 5px;
	padding-left: 8px;
	margin-top: 10px;
	margin-left: 3%;
	font-size: 1.4rem;
	font-family: 'Roboto', serif;
}

.nokMelding {
	padding: 15px;
	color: #007d8a;
	border-radius: 5px;
    background-color: #f7f7f7;
	text-align: center;
	width: 100%;
	font-weight: 500;
	text-transform: uppercase;
}

.arrow {
	margin-top: 10px;
	text-align: center;
}

.arrow img{
	width: 23px;
	padding-left: 10px;
}

.redirectAdmin {
	padding: 0;
	padding: 5px 20px;
	background-color: #f7f7f7;
	border: none;
	border-radius: 5px;
	font-size: 1.4rem;
	color: #007d8a;
}

/*.redirectAdmin {
	background: url('../images/hoverdown.png') no-repeat scroll transparent;
	padding: 0;
	border: none;
	width: 48px;
	height: 48px;
	text-decoration: none;
	text-indent: -9999px;
}*/
/*-------------- // END MELDING // --------------*/


/*----------------- // CHECK // -----------------*/
#check {
	padding-bottom: 35px;
}

.check
{
	background-color: #f7f7f7;
	color: #000;
	border-radius: 5px;
	padding: 15px;
}

form.formCheck {
	margin-top: 5px;
}

h2.meldingS {
	margin: 0;
	font-size: 2.2rem;
	color:  #007d8a;
}

.datumCheck {
	color:  #929292;
	text-transform: lowercase;
}

#btnCheck {
	text-align: center;
	width: 250px;
	padding: 10px;
	background-color: #f7f7f7;
	border: 1px solid #f24f11;
	border-radius: 5px;
	color: #f24f11;
	margin-top: 15px;
	font-size: 1.4rem;
}

#btnCheck:hover {
	background-color: #f24f11;
	color: #f7f7f7;
	cursor: pointer;
}

#feedbackCheck {
	background-color: #007d8a;
	padding-bottom: 35px;
}

.nokCheck {
	padding: 15px;
	color: #007d8a;
	border-radius: 5px;
    background-color: #f7f7f7;
	text-align: center;
	font-weight: 500;
	width: 100%;
}

.nokCheck h2{
	color: #007d8a;
}
/*--------------- // END CHECK // ---------------*/


/* END ADMINSIDE.PHP-----------------------------------------------*/


/*MEDIAQUERIES-------------------------------*/
@media (min-width: 420px) {

}
@media (min-width: 768px){

	h1 {
		font-size: 5rem;
	}

	h2 {
		font-size: 3.5rem;
		font-family: 'Lato', sans-serif;
	}

	.personeelLogin {
		width: 420px;
		margin: 0 auto;
		margin-top: 25px;
	}

	.studentLogin {
		width: 420px;
		margin: 0 auto;
		margin-top: 25px;
	}

	.nok {
		width: 420px;
		margin: 0 auto;
	}

	.tabbladen ul{
		float: right;
	}

	h3#student-meldingen, #dagnav
	{
		text-align: center
	}
}

@media (min-width: 960px) {

	.wrapper, .tabbladen {
		width: 960px;
		margin: 0 auto;
	}
}
/*END MEDIAQUERIES-------------------------------*/
