/*Clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/*End clearfix*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	background-color: #007d8a;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', serif;
	background-color: #f7f7f7;
	color: #000;
}

header p{
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 4rem;
	font-family: 'Lato', sans-serif;
	color: #f7f7f7;
}

h2 {
	margin-bottom: 15px;
	margin-top: 15px;
	max-width: 100%;
	margin: 15px auto;
}

nav {
	text-align: right;
	background-color: #000;
	padding: 15px;
}

nav a {
	padding: 5px;
	text-decoration: none;
	color: #f7f7f7;
	border-radius: 5px;
}

nav a:hover {
	background-color: #f7f7f7;
	color: #000;
}

.wrapper {
	padding: 0 15px 15px;
}

header {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f24f11;
}

form {
	margin-top: 25px;
	max-width: 100%;
	color:#f7f7f7;
	font-weight: bold;
}

label {
	display: block;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

input {
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 5px;
	border: none;
}

input[type="submit"] {
	font-weight: bold;
	color:#f7f7f7;
	background-color: #007d8a;
	border: 1px solid #f7f7f7;
}

input[type="submit"]:hover{
	cursor: pointer;
	background-color: #f7f7f7;
	color: #007d8a;
}

#login,
#index {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #007d8a;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

#loggedin {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #007d8a;
}

.weekdag{
	background-color: #fff;
	padding: 25px;
	margin-bottom: 15px;
}

.nok {
	padding: 15px;
	border: 1px solid;
	color: #D8000C;
	border-radius: 10px;
    background-color: #FFBABA;
	text-align: center;
}

/*INDEX.PHP*/
.redirect a {
	display: block;
	text-align: center;
	width: 250px;
	margin: 15px auto;
	background-color: #007d8a;
	padding: 20px;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	font-size: 1.6rem;
}

.redirect a:hover {
	background-color: #fff;
	color: #007d8a;
}

@media (min-width: 768px){

	h1 {
		font-size: 5rem;
	}

	form {
		width: 420px;
		margin: 0 auto;
		margin-top: 25px;
	}

	.nok {
		width: 420px;
		margin: 0 auto;
	}
}

@media (min-width: 960px) {

	.wrapper {
		width: 960px;
		margin: 0 auto;
	}
}

